<div class="login-status-header">
    <div *ngIf="isAuthenticated && userFullName" class="login-status-user-info">
        Welcome back {{ userFullName }}!
    </div>
    <!-- if user not succesfully authenticated then display login button to force a sign in  -->
    <button *ngIf="!isAuthenticated" routerLink="/login" class="security-btn">Login</button>
    <!-- if user succesfully authenticated then change the button to logout to allow them to logout  -->
    <button *ngIf="isAuthenticated" (click)="logout()" class="security-btn">Logout</button>
    
    <!-- Only show memeber button to users when if they are logged in-->
    <button *ngIf="isAuthenticated" routerLink="/members" class="security-btn">Member</button>
    <!--Button for Your Order History -->
    <button *ngIf="isAuthenticated" routerLink="/order-history" class="security-btn">Orders</button>
</div>
