                <div formGroupName="creditCard" class="form-area">
                    <h3>Credit Card</h3>

                    <div class="row">
                        <div class="col-md-2"> <label>Card Type</label></div>
                        <div class="col-md-9">
                            <div class="input-space">
                                <select formControlName="cardType">
                                    <option>Visa</option>
                                    <option>Mastercard</option>
                                </select>
                                <div *ngIf="creditCardType!.invalid && (creditCardType!.dirty || creditCardType!.touched)" class="alert alert-danger mt-1">
                                    <!-- If country not selected -->
                                    <!--Since its a drop down list, we don't need to verify for white spaces-->
                                    <div *ngIf="creditCardType!.errors!.required">
                                        Credit card type is required
                                    </div>   
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-2"> <label>Name on Card</label></div>
                        <div class="col-md-9">
                            <div class="input-space">
                                <input formControlName="nameOnCard" type="text">
                                <div *ngIf="creditCardnameOnCard!.invalid && (creditCardnameOnCard!.dirty || creditCardnameOnCard!.touched)" class="alert alert-danger mt-1">
                                    <!-- If country not selected -->
                                    <!--Since its a drop down list, we don't need to verify for white spaces-->
                                    <div *ngIf="creditCardnameOnCard!.errors!.required">
                                        Name on card type is required
                                    </div>   
                                    <div *ngIf="creditCardnameOnCard!.errors!.minlength">
                                        Name must be at least 2 charectors long 
                                    </div>  
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-2"> <label>Card Number</label></div>
                        <div class="col-md-9">
                            <div class="input-space">
                                <input formControlName="cardNumber" type="text">
                                <div *ngIf="creditCardNumber!.invalid && (creditCardNumber!.dirty || creditCardNumber!.touched)" class="alert alert-danger mt-1">
                                    <!-- If country not selected -->
                                    <!--Since its a drop down list, we don't need to verify for white spaces-->
                                    <div *ngIf="creditCardNumber!.errors!.required">
                                        Credit card number required 
                                    </div>   
                                    <div *ngIf="creditCardNumber!.errors!.pattern">
                                        Credit card number must be at least 16 charectors long 
                                    </div>  
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-2"> <label>Security Code</label></div>
                        <div class="col-md-9">
                            <div class="input-space">
                                <input formControlName="securityCode" type="text">
                                <div *ngIf="creditCardSecurityCode!.invalid && (creditCardSecurityCode!.dirty || creditCardSecurityCode!.touched)" class="alert alert-danger mt-1">
                                    <!-- If country not selected -->
                                    <!--Since its a drop down list, we don't need to verify for white spaces-->
                                    <div *ngIf="creditCardSecurityCode!.errors!.required">
                                        Credit card number required 
                                    </div>   
                                    <div *ngIf="creditCardSecurityCode!.errors!.pattern">
                                        Credit card Secuirty Code must be at least 3 charectors long 
                                    </div>  
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-2"> <label>Expiration Month</label></div>
                        <div class="col-md-9">
                            <div class="input-space">
                                <select formControlName="expirationMonth">
                                    <option *ngFor="let month of creditCardMonths">
                                        {{ month }}
                                    </option>
                                </select>
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-2"> <label>Expiration Year</label></div>
                        <div class="col-md-9">
                            <div class="input-space">
                                <select formControlName="expirationYear" (change)="handleMonthsAndYears()">
                                    <option *ngFor="let year of creditCardYears">
                                        {{ year }}
                                    </option>
                                </select>
                            </div>
                        </div>
                    </div>

                </div>
